spring:
  application:
    name: smart-parking-system
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://localhost:5432/smart-parking-system-db
    username: admin_user
    password: postgres
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: false